 @media (max-width:959px) {
     .navbar-brand>* {
         height: 30px!important
     }
 }
 
 @media (min-width:960px) {
     .limit-width {
         max-width: 1200px;
         margin: auto
     }
     #show_all {
         /*color: white;*/
     }
 }
 
 @media (min-width:960px) {
     .main-header,
     .vmenu-container {
         width: 276px
     }
 }
 
 .menu-primary ul.menu-smart>li>a,
 .menu-primary ul.menu-smart li.dropdown>a,
 .menu-primary ul.menu-smart li.mega-menu>a,
 .vmenu-container ul.menu-smart>li>a,
 .vmenu-container ul.menu-smart li.dropdown>a {
     text-transform: uppercase
 }
 
 .menu-primary ul.menu-smart ul a,
 .vmenu-container ul.menu-smart ul a {
     text-transform: uppercase
 }
 
 body.menu-custom-padding .col-lg-0.logo-container,
 body.menu-custom-padding .col-lg-2.logo-container,
 body.menu-custom-padding .col-lg-12 .logo-container,
 body.menu-custom-padding .col-lg-4.logo-container {
     padding-top: 27px;
     padding-bottom: 27px
 }
 
 body.menu-custom-padding .col-lg-0.logo-container.shrinked,
 body.menu-custom-padding .col-lg-2.logo-container.shrinked,
 body.menu-custom-padding .col-lg-12 .logo-container.shrinked,
 body.menu-custom-padding .col-lg-4.logo-container.shrinked {
     padding-top: 18px;
     padding-bottom: 18px
 }
 
 @media (max-width:959px) {
     body.menu-custom-padding .menu-container .logo-container {
         padding-top: 18px!important;
         padding-bottom: 18px!important
     }
 }
 /* Create four equal columns that sits next to each other */
 
.main-heade, #masthead{
    height: 71px !important;    
}

footer .footer-center {
    padding-top: 100px;
    padding-bottom: 100px;
}

 #photos img {
     margin-bottom: 10px;
     vertical-align: middle;
     height: auto;
     width: 100%;
 }
#li_space{
    height: 20px;
}

#photos{
    margin-left: -18px;
    margin-top: 0px;
}

li img{
     -webkit-transition: 0.2s;
}
/* Responsive layout - makes a two column-layout instead of four columns */
 
 @media (min-width: 1500px) {
     .up{
         /*margin-top: 15px;*/
     }
     #photos {
         -webkit-column-count: 4;
         -moz-column-count: 4;
         column-count: 4;
         -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
         column-gap: 10px;
     }
 }
 
 @media screen and (max-width: 1500px) {

     #photos {
         -webkit-column-count: 3;
         -moz-column-count: 3;
         column-count: 3;
         -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
         column-gap: 10px;
     }
 }
 
 @media screen and (min-width: 800px) {
     li img:hover {
         -webkit-transition: .5s;
         transform: scale(1.13);
         /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
     }
 }
 
 @media screen and (max-width: 800px) {
     #photos {
         -webkit-column-count: 2;
         -moz-column-count: 2;
         column-count: 2;
         -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
         column-gap: 10px;
     }
 }
 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 
 @media screen and (max-width: 600px) {
     #photos {
         -webkit-column-count: 1;
         -moz-column-count: 1;
         column-count: 1;
         -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
         column-gap: 10px;
     }
 }
 
 .mix,
 .gap {
     display: inline-block;
     vertical-align: top;
 }
